.home-container {
    padding: 20px 50px;
    color: white;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.catalogo h2 {
    margin-bottom: 10px;
}


.card {
    width: 220px;
    background: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.capa {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: #615e5e;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #504e4e;
}

@media (max-width: 768px) {
    .home-container {
        padding: 15px;
    }

    .catalogo {
        justify-content: center;
    }

    .card {
        width: 45%;
    }

    .capa {
        height: 220px;
    }
}

@media (max-width: 480px) {
.card {
width: 100%;
}

.capa {
height: 200px;
}
}
    
