
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.modal {
    background: #111;
    color: white;
    padding: 20px;
    width: 680px;
    max-width: 95%;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
}


.modal-close {
    position: absolute;
    right: 12px;
    top: 12px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}


.form-modal input,
.form-modal textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #0f0f0f;
    color: #fff;
    font-size: 14px;
}


.textarea {
    width: 100%;
    background-color: #111;
    color: white;
}


.form-modal .btn {
    background: #615e5e;
    border: none;
    color: white;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.form-modal .btn:hover {
    background: #504e4e;
}


.form-modal .btn-secundario {
    background: transparent;
    border: 1px solid #666;
    color: #fff;
}


@media (max-width: 480px) {
    .modal {
        width: 90%;
        padding: 15px;
    }
}
