body {
  margin: 0;
  background: #0d0d0d;
  color: white;
  font-family: Arial;
}


.header {
  background: #858585;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.header-link {
  padding: 10px;
  background-color: #615e5e;
}


.logo-header {
  width: 250px;      
  height: auto;      
  object-fit: contain;
  border-radius: 8px;  
  margin: 10px;      
  cursor: pointer;   
}

.home-container{
  padding-top: 20px;
  padding-left: 50px;
 
}

.container {
  padding: 20px;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 220px;
  background: #1b1b1b;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.capa {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background: #615e5e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #504e4e;
}

/* DETALHE */
.detalhes-container {
  display: flex;
  padding: 20px;
  gap: 30px;
}

.detalhe-capa {
  width: 300px;
  border-radius: 10px;
}

.descricao {
  margin-top: 20px;
  line-height: 1.5;
}


.form {
 
  width: 20px;
  margin-bottom: 10px;
  padding: 0px;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Modal box */
.modal {
  background: #111;
  color: white;
  padding: 20px;
  width: 680px;
  max-width: 95%;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 10px 40px rgba(0,0,0,0.7);
}

/* Close button */
.modal-close {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

/* Form inside modal */
.form-modal input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #0f0f0f;
  color: #fff;
}

.form-modal .btn {
  background: #615e5e;
  border: none;
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  
  cursor: pointer;
}

.form-modal .btn-secundario {
  background: transparent;
  border: 1px solid #666;
  color: #fff;
}

.botoes-edicao {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.editar {
  padding: 10px 18px;
  width: 150px;
  background: #3a6ff7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.editar:hover {
  background: #2d55c9;
}

.textarea{
  width: 100%;
  background-color: #111;
  color: white;
}

.deletar {
  padding: 10px 18px;
  width: 150px;
  background: #d64040;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.deletar:hover {
  background: #b53232;
}
