body {
  margin: 0;
  background: #0d0d0d;
  color: white;
  font-family: Arial;
}

/* HEADER */
.header {
  background: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* HOME */
.container {
  padding: 20px;
}

.grade-filmes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* CARD */
.card {
  width: 220px;
  background: #1b1b1b;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.capa {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background: #e50914;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #b20710;
}

/* DETALHE */
.detalhes-container {
  display: flex;
  padding: 20px;
  gap: 30px;
}

.detalhe-capa {
  width: 300px;
  border-radius: 10px;
}

.descricao {
  margin-top: 20px;
  line-height: 1.5;
}

.form-container {
  padding: 20px;
}

.form input {
  display: block;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
}
