.card {
    width: 220px;
    background: #1b1b1b;
    padding: 12px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
    
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.capa {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.card h3 {
    margin: 8px 0 4px 0;
    font-size: 18px;
    color: white;
}

.card p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 8px;
    background: #615e5e;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

.btn:hover {
    background: #504e4e;
}

 
@media (max-width: 768px) {
    .card {
        width: 45%;
        margin-bottom: 15px;
    }
    
    .capa {
        height: 200px;
    }
}
    
@media (max-width: 480px) {
    .card {
        width: 100%;
    }
    
    .capa {
        height: 180px;
    }
}
    