.header {
    background: #858585;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-header {
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
}

/* Menu desktop */
.dropdown {
    display: flex;
    gap: 15px;
}

.header-link {
    padding: 10px 15px;
    background-color: #615e5e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.header-link:hover {
    background-color: #504e4e;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 34px;
    cursor: pointer;
    color: white;
}

/* MOBILE */
@media (max-width: 768px) {

    .dropdown {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 20px;
        background: #6d6d6d;
        padding: 12px;
        border-radius: 10px;
        width: 180px;
        gap: 10px;
        display: none;
        box-shadow: 0 4px 15px rgba(0,0,0,0.4);
        z-index: 999;
        animation: fade 0.2s ease;
    }

    .dropdown.open {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .header-link {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .logo-header {
        width: 150px;
    }
}

@keyframes fade {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}
