.header {
    background: #858585;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-header {
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.header-link {
    padding: 10px 15px;
    background-color: #615e5e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.header-link:hover {
    background-color: #504e4e;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #6d6d6d;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
        gap: 10px;
    }

    .nav-menu.open {
        display: flex;
    }

    .header-link {
        width: 100%;
        padding: 12px;
        text-align: center;
    }

    .logo-header {
        width: 150px;
    }
}
